<nav class="navbar navbar-light fixed-top bg-white flex-md-nowrap p-0 header ">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-center bg-white shadow-none" href="/"><img
        src="https://cdn.shopify.com/s/files/1/0013/2123/8594/t/5/assets/logo-coco-310.png?4934" class="logo" /> </a>
    <ul class="navbar-nav px-3">
      <li class="nav-item">
        <a class="nav-link" href="/gestionBD/dbninja" target="_blanck">
          <i class="fas fa-database mr-2"></i> gestion BD
        </a>
      </li>
    </ul>
  </nav>